h1{
    font-family: 'Kaushan Script', cursive;
}

#meals{
    margin-top: 50px;
}

.overlay{
    background-color: white;
    opacity: 0.8;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left:0;
    z-index:1;
}

.overlay img{
    position: relative;
    left: 45%;
    top: 35%;
}